@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #b6efe8 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 105%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: auto;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.auth-wrapper table{
  border:2px solid black;

}

.auth-wrapper th{
  border:2px solid black;
}

.auth-wrapper td{
  border:2px solid black;
}
.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.dropdown{
  width:400px;
  user-select:none;
  margin:auto;
  position:relative;
  font-weight:600;
  
}

.dropdown .dropdown-btn{
  padding:15px;
  background:#fff;
  box-shadow:3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight:100;
  color:#333;
  display:flex;
  align-items:center;
  cursor:pointer;
  justify-content:space-between;
  width:85%;
  font-family: "Fira Sans", sans-serif;
  
}


.dropdown .dropdown-content{
  position:absolute;
  top:110%;
  left:0;
  padding:10px;
  background:#fff;
  box-shadow:3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight:500;
  color:#333;
  width:85%;
}

.dropdown .dropdown-content .dropdown-item{
  padding:10px;
  cursor:pointer;
  transition:all 0.2s;

}

.dropdown .dropdown-content .dropdown-item:hover{
  background:#f4f4f4;
}